<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Thanh điều hướng trang web -->
</head>
<body>
	


	<div class="offcanvas offcanvas-start d-block d-lg-none" data-bs-backdrop="false"
	data-bs-scroll="true" tabindex="-1" id="offcanvas-menu">
	<div class="offcanvas-header">
		<a href="#">
			<img src="Asset/Image/Logo.png" alt="Logo" />
		</a>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<form class="position-relative" action="tim-kiem" method="post">
			<input type="text" class="form-search w-100 form-control" />
			<label for="tim-kiem-2" class="icon-search position-absolute"><i class="bi bi-search"></i></label>
			<button class="d-none" id="tim-kiem-2" type="submit"></button>
			<div class="border rounded-bottom-3 form-result-search position-absolute py-5"></div>
		</form>
		<div class="list-group mt-3 list-group-flush">
			<a href="#" class="list-group-item list-group-item-action border-0 text-capitalize ps-0">
				<i class="bi bi-film pe-2"></i> Anime
			</a>
			<a href="#" class="list-group-item list-group-item-action border-0 text-capitalize ps-0">
				<i class="bi bi-tv pe-2"></i> Movie
			</a>
			<a href="#" class="list-group-item list-group-item-action border-0 text-capitalize ps-0">
				<i class="bi bi-pie-chart pe-2"></i> Bảng xếp hạng
			</a>
		</div>
	</div>
</div>



</body>
</html>
