<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!-- Nav -->
<div ng-include="'Components/Header/header.html'" ng-controller="header_userCtrl"></div>
<!-- Tập mới nhất -->
<div class="mt-3">
	<span class="h4 text-decoration-none title-text text-uppercase fw-medium" ng-if="checkflag">History of watched episodes</span>
	<span class="h4 text-decoration-none title-text text-uppercase fw-medium" ng-if="!checkflag">History of liked episodes</span>
	<div class="row row-cols-2 row-cols-md-4 pb-3 mt-1 g-2">
        <div class="col" ng-repeat="episode in listEpisode track by $index">
            <div
                class="card-episode-new card text-bg-dark position-relative overflow-hidden">
                <img ng-src="{{episode.hinhTapPhim}}" class="card-img card-content-img" />
                <a href="#!movie/watch/{{episode.idTapphim}}"
                    class="card-content-link stretched-link text-decoration-none">
                    <div class="card-content d-flex flex-column position-absolute">
                        <span class="text-white card-content-title mx-2 fw-bold text-truncate" ng-bind="episode.tenPhim"></span>
                        <div class="d-flex justify-content-between py-1 mx-2">
                            <span class="text-white card-content-text fw-light text-truncate" ng-bind="episode.tenTapPhim"></span>
                            <span class="text-white card-content-text">
                                <small class="fw-light text-truncate">{{episode.luotXem | number}} lượt xem</small>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
	</div>
</div>

</body>
</html>